{
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true
  },
  "plugins": [
    "standard",
    "html"
  ],
  "extends": ["standard"],
  "rules": {
    "no-extend-native": "off"
  }
}
