@import '../../assets/theme/element-variables.scss';


/*
  覆盖../theme/element-variables.scss主题变量
*/

$--color-primary: #409EFF;
$--all-transition: all .15s cubic-bezier(.645, .045, .355, 1) !default;
$--fade-transition: opacity 150ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$--fade-linear-transition: opacity 100ms linear !default;
$--md-fade-transition: transform 150ms cubic-bezier(0.23, 1, 0.32, 1) 50ms, opacity 150ms cubic-bezier(0.23, 1, 0.32, 1) 50ms !default;
$--border-transition-base: border-color .1s cubic-bezier(.645, .045, .355, 1) !default;
$--color-transition-base: color .1s cubic-bezier(.645, .045, .355, 1) !default;
$--font-path: '../fonts';
@import '../../../node_modules/element-ui/packages/theme-chalk/src/index';


/*
  覆盖Element样式表  
*/

.el-tabs__item {
  font-weight: 400;
  font-size: 12px;
  height: 25px;
  line-height: 25px;
}
.el-menu--horizontal {
  .el-submenu {
    &>.el-menu {
      top: 30px;
    }
  }
}
.el-tabs--card {
  // height: 100%;
  &>.el-tabs__header {
    .el-tabs__nav {
      border: 0;
      border-right: 1px solid #dfe4ed;
      border-radius: 0;
    }
  }
  .el-tabs__content {
    height: calc(100% - 55px);
    &>.el-tab-pane {
      // height: 100%;
    }
  }
}
.el-menu-item {
  height: 25px !important;
  line-height: 25px !important;
  font-size: 12px !important;
}
.el-submenu__title {
  height: 25px !important;
  line-height: 25px !important;
  font-size: 12px !important;
}
.el-notification {
  width: 300px;
  border-radius: 2px;
}