.el-tabs--card {
  height: 100%;
  &>.el-tabs__header {
    .el-tabs__nav {
      border: 0;
      border-right: 1px solid #dfe4ed;
      border-radius: 0;
    }
  }
  .el-tabs__content {
    height: calc(100% - 55px);
    &>.el-tab-pane {
      height: 100%;
    }
  }
}